<h1 class="text-center">Chang An Marketing</h1>
<article class="text-center">
  <p>
    We are specialists in East Asian Marketing. Let us assist you in bringing your special brand to Asia!
  </p>
</article>
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-4 text-center">
    <%= simple_form_for(@lead, html: { class: '' }) do |f| %>
     <%= f.input :company %>
     <%= f.input :first_name %>
     <%= f.input :last_name %>
     <%= f.input :email, label: "@" %>
     <%= f.input :introduction, label: "How can we assist you?" %>
     <%= f.button :submit, value: "Get in Touch", class: 'btn btn-primary' %>
   <% end %>
  </div>
</div>
