<!DOCTYPE html>
  <html>
    <head>
      <title>Binbizniz</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

      <body>
        <div class="container-fluid">
          <header>
            <div class="title">
              <h1>Chang An Marketing</h1>
            </div>
            <article class="text-center title-subtext">
              <p>
                We are specialists in East Asian Marketing. Let us assist your successful expansion into Asian Markets.
              </p>
            </article>
          </header>
          <%= yield %>
        </div>
        <footer class="footer">
          <div class="text-center">
            Copyright 2019 Chang An Marketing
          </div>
        </footer>
        <%#= cl_image_tag("BinBizNiz/trees", 
          :folder => "BinBizNiz",
          :width => 400,
          :crop => "pad",
          :cloud_name => "dd0hxnaz7",
          :fetch_format=>:auto
          )
        %>
      </body>
    </html>
